.DS_Store

# Byte-compiled python
*.pyc

# emacs backups
*~

# Temp directories and files
/build
/dist
/MANIFEST

# Documentation intermediaries
AAS.cls
models1.png
models2.png
*.aux
*.fot
*.log
*.out
*.tex
*.dvi
*.pdf
