.choice_elt {
   border:1px solid #346789;
   box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-border-radius:0.5em;
   border-radius:0.5em;
   opacity:0.8;
   filter:alpha(opacity=80);
   line-height:5em;
   text-align:center;
   z-index:1; /*position:absolute;*/
   background-color:#eeeeef;
   color:black;
   font-family:helvetica;padding:0.5em;
   font-size:0.9em;
   display: inline-block;
}


.choice {
   border:1px solid #346789;
   box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-border-radius:0.5em;
   border-radius:0.5em;
   opacity:0.8;
   filter:alpha(opacity=80);
   /*width:5em; height:5em;*/
   line-height:5em;
   text-align:center;
   z-index:2; /*position:absolute;*/
   background-color:#eeeeef;
   color:black;
   font-family:helvetica;padding:0.5em;
   font-size:0.9em;
   display: inline-block;
}

.step {
   border:1px solid #346789;
   box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
   -moz-border-radius:0.5em;
   border-radius:0.5em;
   opacity:0.8;
   filter:alpha(opacity=80);
   width:80%; 
   z-index:30;
   background-color:#eeeeef;
   color:black;
   font-family:helvetica;padding:0.5em;
   font-size:1.1em;
   display: inline-block;
}

.nostep {
   opacity:0.8;
   filter:alpha(opacity=80);
   width:80%; 
   z-index:30;
   background-color:#eeeeef;
   color:black;
   font-family:helvetica;padding:0.5em;
   font-size:1.1em;
   display: inline-block;
   float: left;
}


._jsPlumb_connector {
   z-index:400;
}

._jsPlumb_endpoint, .endpointTargetLabel, .endpointSourceLabel {
   z-index:2100;
   cursor:pointer;
}

._jsPlumb_dragging {
   z-index:4000;
}

.active {
   border:1px dotted green;
}

.hover {
   border:1px dotted red;
}
